//COLORS
$color-white: white;
$color-grey: grey;
$color-light-grey: lightgrey;
$color-yellow-primary: #fc3;
// $color-yellow-primary: #ffaa00;

//COLORS BACKGROUND
$color-background-grey: #fafafa;
$color-background-blue-dark: #1b1b1b;
// $color-background-blue-dark: #232f3e;

//COLORS FONTS
$color-font-primary: rgb(145, 145, 145);
$font-size-defualt: 1.6rem;
