.admin {
  background-color: $color-background-grey;
  &__header {
    border-bottom: 1px solid $color-light-grey;
    padding: 1rem;
    font-size: $font-size-defualt;

    &-btn {
      background-color: $color-background-blue-dark;
      color: $color-white;
      border: 1px solid $color-background-blue-dark;
      padding: 0.5rem;
      border-radius: 5px;
    }
  }

  &__side-navigation {
    border-right: 1px solid $color-light-grey;
    &--profile {
      font-size: $font-size-defualt;
      &-bottons {
        margin-top: 3rem;
        .active {
          border: 1px solid $color-grey;
          border-radius: 5px;
          background-color: $color-background-blue-dark;
          color: $color-white;
        }
        li {
          list-style: none;
          padding: 1.5rem;
          border-radius: 5px;
          border: 1px solid transparent;
          background-size: 230%;
          transition: all 0.6s;

          &:hover {
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid transparent;
            background-image: linear-gradient(
              120deg,
              transparent 0%,
              transparent 50%,
              $color-background-blue-dark 50%
            );
            overflow: hidden;
            color: $color-white;
            background-position: 100%;
            backface-visibility: hidden;
          }
        }
      }
      .logo-img {
        @include respond(tab-land) {
          // width < 1200?
          width: 25%;
        }

        @include respond(tab-port) {
          // width < 900?
          width: 20%;
        }
        @include respond(big-desktop) {
          width: 20%;
        }
      }
    }
  }

  &__navigation-table {
    margin-top: 3rem;
    animation: tableBottomTop 0.7s;
    font-size: $font-size-defualt;
    @keyframes tableBottomTop {
      0% {
        opacity: 0.5;
        transform: translateY(10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &--add {
      a {
        color: black;
        padding-left: 1rem;
      }
    }
    .table-bordered {
      tr {
        td:nth-child(2) {
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
      td {
        div {
          display: inline-block;
          padding: 2rem;
          border-radius: 50%;
          overflow: hidden;
          background-size: cover;
          background-position: center;
        }
        label {
          display: inline-block;
          margin-left: 1rem;
        }
      }
      th {
        background-color: $color-background-blue-dark;
        color: $color-white;
      }
    }
    .dataTables {
      &_paginate {
        display: flex;
        justify-content: flex-end;
        .pagination {
          margin-top: 4rem;
          .page-item {
            cursor: pointer;
            &.active .page-link {
              z-index: 3;
              color: $color-white;
              background-color: $color-background-blue-dark;
              border-color: $color-background-blue-dark;
            }
          }
        }
      }
    }
  }

  &__messages {
    border: 1px solid;

    &-inbox {
      border: 1px solid red;
    }

    &-inner {
      border: 1px solid orange;
    }
  }

  &__navbar {
    font-size: $font-size-defualt;
  }
}

.card-counter {
  box-shadow: 0.2rem 0.2rem 1rem #dadada;
  margin: 0.5rm;
  padding: 2rem 1rem;
  background-color: $color-white;
  height: 10rem;
  border-radius: 5px;
  transition: 0.3s linear all;

  i {
    font-size: 5em;
    margin-left: 1rem;
    opacity: 0.2;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem 2rem $color-grey;
    transition: 0.3s linear all;
  }
  &.primary {
    background-color: #007bff;
    color: $color-white;
  }
  &.danger {
    background-color: #ef5350;
    color: $color-white;
  }
  &.success {
    background-color: #66bb6a;
    color: $color-white;
  }
  &.info {
    background-color: #26c6da;
    color: $color-white;
  }
  &__numbers {
    position: absolute;
    right: 3.5rem;
    top: 1.5rem;
    font-size: 3.2rem;
    display: block;
  }
  &__name {
    position: absolute;
    right: 3.5rem;
    top: 5.5rem;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: $font-size-defualt;
  }
}

.edit {
  background-color: $color-background-grey;

  &__go-back {
    font-size: $font-size-defualt + 1;
    padding: 2rem;
    label {
      cursor: pointer;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__header {
      font-size: $font-size-defualt + 0.8;
      font-weight: 700;
      margin-top: 1rem;
      border-bottom: 1px solid $color-light-grey;
    }

    &__wrapper {
      border: 3px solid $color-light-grey;
      width: 85%;
      padding: 2rem;
      margin-bottom: 3rem;
      border-radius: 5px;
    }

    &__form {
      padding: 1.5rem;

      li {
        list-style: none;
        padding: 1rem;
        border: 2px solid #808080;
        border-radius: 5px;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        label {
          display: block;
          font-size: $font-size-defualt + 0.3;
          font-weight: 600;
        }
        span {
          display: inline-block;
          padding-left: 3rem;
          font-size: $font-size-defualt;
        }

        input {
          font-size: $font-size-defualt;
          width: 60%;
          padding: 1rem;
          border: 1px dashed;
          border-radius: 5px;
        }

        textarea {
          font-size: $font-size-defualt;
          width: 70%;
          padding: 1rem;
        }

        .change {
          position: absolute;
          top: 0.5rem;
          right: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

.addItem {
  font-size: $font-size-defualt;
  padding: 1.5rem;
  background-color: rgb(250, 250, 250);
  a {
    font-size: $font-size-defualt + 1;
  }
  h1 {
    font-size: $font-size-defualt + 2;
  }

  &__form {
    padding: 2.5rem;
    &-cell {
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 0 0.3rem 0.4rem lightgray;
      padding: 2rem 0;
      label {
        background-color: $color-background-blue-dark;
        display: block;
        font-size: $font-size-defualt + 0.3;
        font-weight: 600;
        color: $color-white;
        padding: 0.5rem;
        border-radius: 3px;
      }
      input {
        outline: none;
        width: 100%;
        border-radius: 3px;
        border: 1px solid lightgray;
        padding: 0.5rem;
      }
      textarea {
        outline: none;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 3px;
      }
      select {
        outline: none;
        border: 1px solid lightgray;
        width: 100%;
        border-radius: 3px;
        padding: 0.7rem;
        color: $color-font-primary;
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &--images {
        img {
          margin-top: 1rem;
          border: 1px solid lightgray;
          width: 15rem;
          height: 15rem;
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
    .submit {
      border: 1px solid $color-yellow-primary;
      padding: 0.5rem;
      border-radius: 4px;
      color: $color-white;
      background-color: $color-yellow-primary;
    }
  }
}
.modal-content {
  position: relative;
  #modal {
    color: $color-white;
    padding: 1rem;
    img {
      position: absolute;
      top: -13.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      color: $color-white;
    }
  }
}
